{% extends 'A7EPortfolioBundle::base.html.twig' %}

{% block body %}
<header class="main-header">
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{asset('bundles/a7eportfolio/images/header/1.jpg')}}" alt="Banner">
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="animated pulse" id="bannerText">I'm a web developer from Paris</h1>
            </div>
        </div>
    </div>
    <div class="btn-header-scroll">
        <a class="btn-floating btn-large waves-effect waves-light pink accent-2" id="scrollBtn" data-target="#about"><i class="material-icons">keyboard_arrow_down</i></a>
    </div>
</header>

{% block content %}{% endblock %}

{% endblock %}
