{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Project</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Banner</th>
                <td>{{ entity.banner }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ entity.photo }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ entity.video }}</td>
            </tr>
            <tr>
                <th>Technology</th>
                <td>{{ entity.technology }}</td>
            </tr>
            <tr>
                <th>Developer</th>
                <td>{{ entity.developer }}</td>
            </tr>
            <tr>
                <th>Designer</th>
                <td>{{ entity.designer }}</td>
            </tr>
            <tr>
                <th>Sound</th>
                <td>{{ entity.sound }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ entity.link }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('project_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
