/*
 * UI
*/
.justify-align {
    text-align: justify;
}

.invisible-opacity {
    opacity: 0;
}

body .row-pad, body .container .row-pad {
    padding-top: 40px;
    padding-bottom: 40px;
}

.dot-green {
    width: 10px;
    height: 10px;
    background-color: green;
    display: inline-block;
    margin-right: 5px;
}

.inline-list li{
    display: inline;
    list-style-type: none;
}

.header-cascade {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 300px;
}

.header-cascade .parallax-container {
    height: 300px;
}

.card-cascade {
    position: relative;
    margin-top: -145px;
}

.chip {
    margin: 10px;
}

.tl-timeline {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.tl-timeline:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #c5cae9;
    left: 20%;
    margin-left: -10px;
}

.tl-timeline li {
    position: relative;
}

.tl-timeline li time.tl-time {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}

.tl-timeline li .tl-dot-icon {
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #3f51b5;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #c5cae9;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}

.tl-timeline li .tl-label {
    margin: 0 0 15px 26%;
    padding: 12px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
    font-size: 1.1rem;
}

.tl-timeline li .tl-label:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: white;
    border-width: 10px;
    top: 10px;
}

.tl-timeline li .tl-label h2 {
    margin-top: 0;
    font-size: 2rem;
}

.tl-timeline li .tl-label p {
    text-align: justify;
}

/*
 * GLOBAL
*/
body {
    background-color: #fafafa;
}
form {
    padding: 40px;
}
/*
 * NAV
*/
nav .brand-logo, nav ul a {
    color: white;
}


/*
 * HEADER
*/
.main-header {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 700px;
}

.main-header h1 {
    margin-top: calc(700px * .5);
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

.main-header .parallax-container {
    height: 100%;
}

.btn-header-scroll {
    position: absolute;
    bottom: -25px;
    right: 50px;
}
.large-pad-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.section-title {
    position: relative;
    margin: 0 0 5rem 0;
}

.section-title span {
    background-color: #fafafa;
    position: relative;
    padding: 0 50px;
}
.grey.lighten-3 .section-title span {
    background-color: #eee;
}

.section-title:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #dddddd;
}
.about-profile-img {
    width: 300px;
}

.home-social-list li{
    font-size: 60px;
    padding: 0 15px;
}

/* Project */
.card-project .card-title {
    text-transform: uppercase;
}

.project-credits .list-container {
    margin: 20px 0;
}
.project-credits h2 {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}
