<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}- A7E{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('libs/bower_component/Materialize/dist/css/materialize.min.css')}}">
        <link rel="stylesheet" href="{{asset('libs/bower_component/font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('libs/bower_component/animate.css/animate.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/A7EPortfolio/css/style.css')}}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="indigo white-text" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">A7E Dev</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Skills & Career</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Skills & Career</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer class="page-footer indigo white-text">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">A7E Dev</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright indigo darken-2">
            <div class="container">
            © 2015 Copyright A7E Dev
            <a class="grey-text text-lighten-4 right" href="#">Top</a>
            </div>
          </div>
        </footer>

        <script src="{{asset('libs/bower_component/jquery/dist/jquery.js')}}"></script>
        <script src="{{asset('libs/bower_component/Materialize/dist/js/materialize.min.js')}}"></script>
        <script src="{{asset('bundles/a7eportfolio/js/app.js')}}"></script>
        <script>
            $(document).ready(function () {
                app.init();
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
