{% extends 'A7EPortfolioBundle:Layout:header.html.twig' %}

{% block title %} Accueil  {{ parent() }} {% endblock %}

{% block content %}
<div class="section large-pad-section">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <h2 class="center section-title header indigo-text lighten-1" id="about">
                    <span><i class="mdi-action-account-circle"></i> About Me</span>
                </h2>

                <div class="col s12 m6 col-left-anim invisible-opacity">
                    <div class="center">
                        <img class="responsive-img circle about-profile-img z-depth-2 waves-effect waves-circle waves-light" src="{{ asset('bundles/a7eportfolio/images/home/profile.jpg') }}" alt="Alexandre Hachim">
                    </div>
                </div>
                <div class="col s12 m6 col-right-anim invisible-opacity">
                    <p class="flow-text left-align justify-align center">
                        Hi, I'm <strong class="indigo-text">Alexandre Hachim</strong>, a young <strong>web developper</strong> from Paris, France. I like making <strong class="indigo-text">original projects</strong>. Innovation leads to the good side of the force !
                    </p>
                    <ul class="inline-list home-social-list">
                        <li><a href="https://fr.linkedin.com/in/alexandre-hachim-74169a83" target="_blank" class="indigo-text" title="Follow me on Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/Alex100dre" target="_blank" class="indigo-text" title="Follow me on Github"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://twitter.com/HachimAlexandre" target="_blank" class="indigo-text" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section large-pad-section grey lighten-3">
    <!-- <div class="divider"></div> -->
    <div class="container">
        <div class="row row-default">
            <h2 class="center section-title header indigo-text lighten-1">
                <span><i class="mdi-action-trending-up"></i> Skills & Career</span>
            </h2>
            <div class="col s12 m4">
                <div class="card" id="skills">
                    <div class="card-content">
                        <div class="center">
                            <div class="chip">
                                <img src="{{asset('bundles/a7eportfolio/images/ui/logos/js.png')}}" alt="Javascript">
                                Javascript
                            </div>
                            <div class="chip">
                                <img src="{{asset('bundles/a7eportfolio/images/ui/logos/php.png')}}" alt="PHP">
                                PHP
                            </div>
                            <div class="chip">
                                <img src="{{asset('bundles/a7eportfolio/images/ui/logos/html5.png')}}" alt="HTML5">
                                HTML5
                            </div>
                            <div class="chip">
                                <img src="{{asset('bundles/a7eportfolio/images/ui/logos/jq.png')}}" alt="jQuery">
                                jQuery
                            </div>
                            <div class="chip">
                                <img src="{{asset('bundles/a7eportfolio/images/ui/logos/sf2.png')}}" alt="Symfony2">
                                Symfony2
                            </div>
                            <div class="chip">
                                <img src="{{asset('bundles/a7eportfolio/images/ui/logos/ps.png')}}" alt="Photoshop">
                                Photoshop
                            </div>
                            <div class="chip">
                                <img src="{{asset('bundles/a7eportfolio/images/ui/logos/bootstrap.png')}}" alt="Bootstrap">
                                Bootstrap
                            </div>
                            <div class="chip">
                                <img src="{{asset('bundles/a7eportfolio/images/ui/logos/git.png')}}" alt="Git">
                                Git
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="currentStatus">
                    <div class="card-content">
                        <span class="card-title">Current status:</span>
                        <p><span class="circle dot-green"></span>[Employed] Permanent position</p>
                        <p>At smart&geek as Junior Web Developer & Lead Integrator</p>
                    </div>
                </div>
            </div>

            <div class="col s12 m8">
                <ul class="tl-timeline" id="careerTimeline">
                    <li class="invisible-opacity">
                        <time class="tl-time">
                            <span>September 2014</span>
                            <span></span>
                        </time>
                        <div class="tl-dot-icon fa fa-suitcase"></div>
                        <div class="tl-label card">
                            <h2>Internship web developer at smart&geek</h2>
                            <p class="light-text">Paris, France</p>
                            <p class="light-text">I work there for one year as intern web developper. I was on the front & the backend developement side. I built web app's using Symfony2, Bootstrap, Facebook & Linkedin API.</p>
                        </div>
                    </li>
                    <li class="invisible-opacity">
                        <time class="tl-time">
                            <span>Jully 2014</span>
                            <span></span>
                        </time>
                        <div class="tl-dot-icon fa fa-graduation-cap"></div>
                        <div class="tl-label card">
                            <h2>Diploma at L'École Multimédia</h2>
                            <p class="light-text">Paris, France</p>
                            <p class="light-text">I got my "Bac +4, Développeur Multimédia" degree  at L'École Multimédia.</p>
                        </div>
                    </li>
                    <li class="invisible-opacity">
                        <time class="tl-time">
                            <span>June 2011</span>
                            <span></span>
                        </time>
                        <div class="tl-dot-icon fa fa-suitcase"></div>
                        <div class="tl-label card">
                            <h2>Crew member at McDonald's</h2>
                            <p class="light-text">Villeparisis, France</p>
                            <p class="light-text">I work at McDonald's for 3 years and half to pay my studies.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section large-pad-section">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <h2 class="center section-title header indigo-text lighten-1">
                    <span><i class="mdi-action-assignment"></i> Projects</span>
                </h2>
                <!-- Project card -->
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{asset('bundles/a7eportfolio/images/header/1.jpg')}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Never Alone<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Go to project page.</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Never Alone<i class="material-icons right">close</i></span>
                            <p>
                                A 2D platformer game I made for a game week at school. It work with Phaser.js.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Project card -->
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{asset('bundles/a7eportfolio/images/header/1.jpg')}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Never Alone<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Go to project page.</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Never Alone<i class="material-icons right">close</i></span>
                            <p>
                                A 2D platformer game I made for a game week at school. It work with Phaser.js.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Project card -->
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{asset('bundles/a7eportfolio/images/header/1.jpg')}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Never Alone<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Go to project page.</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Never Alone<i class="material-icons right">close</i></span>
                            <p>
                                A 2D platformer game I made for a game week at school. It work with Phaser.js.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Project card -->
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{asset('bundles/a7eportfolio/images/header/1.jpg')}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Never Alone<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Go to project page.</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Never Alone<i class="material-icons right">close</i></span>
                            <p>
                                A 2D platformer game I made for a game week at school. It work with Phaser.js.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Project card -->
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{asset('bundles/a7eportfolio/images/header/1.jpg')}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Never Alone<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Go to project page.</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Never Alone<i class="material-icons right">close</i></span>
                            <p>
                                A 2D platformer game I made for a game week at school. It work with Phaser.js.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Project card -->
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{asset('bundles/a7eportfolio/images/header/1.jpg')}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Never Alone<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Go to project page.</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Never Alone<i class="material-icons right">close</i></span>
                            <p>
                                A 2D platformer game I made for a game week at school. It work with Phaser.js.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section large-pad-section grey lighten-3">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <h2 class="center section-title header indigo-text lighten-1">
                    <span><i class="mdi-communication-forum"></i> Contact</span>
                </h2>
                <div class="row card invisible-opacity contact-form" id="contactFormCard">
                    <div class="indigo white-text card-content">
                        <p class="card-title">Send me a message</p>
                    </div>
                    <form class="col s12 indigo-text card-content" id="contactForm">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="input_name" type="text" length="10">
                                <label for="input_text">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="input_email" type="email" length="10">
                                <label for="input_text">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="input_message" class="materialize-textarea" length="120"></textarea>
                                <label for="textarea1">Message</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="submit" value="Send" class="waves-effect waves-light pink accent-2 btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
