{% extends 'A7EPortfolioBundle:Layout:headerCard.html.twig' %}

{% block title %} Project  {{ parent() }} {% endblock %}

{% block content %}
<div class="card-project">
<div class="card-content indigo white-text">
    <h1 class="card-title">Never Alone</h1>
</div>
<div class="card-content row-pad">
    <div class="row">
        <div class="col m6">
            <p class="justify-align">
                Never Alone est un <strong class="indigo-text">jeu 2D HTML5</strong> développé avec <strong class="indigo-text">phaser.js</strong>.
                Dans ce jeu <strong>vous incarnez un schyzophrène</strong> perdu dans sa folie, le but est donc de finir les niveaux pour retoruver la raison.
                Vous pouvez pour cela <strong>jongler entre les trois personalités</strong> du protagoniste qui disposent chacun <strong>d'aptitudes particulières</strong>...
            </p>
        </div>

        <div class="col m6">
            <img class="responsive-img" src="{{asset('bundles/a7eportfolio/images/projects/description/neveralone.jpg')}}" alt="Never Alone">
        </div>

        <div class="project-credits">
            <div class="list-container col m3">
                <h2>Technologies :</h2>
                <ul>
                    <li>HTML5/Canvas</li>
                    <li>Javascript (orienté objet)</li>
                    <li>Moteur : Phaser.js</li>
                </ul>
            </div>

            <div class="list-container col m3">
                <h2>Developpeur :</h2>
                <ul>
                    <li>Alexandre Hachim</li>
                </ul>
            </div>

            <div class="list-container col m3">
                <h2>Designers :</h2>
                <ul>
                    <li>Jule Corbel</li>
                    <li>Clémence Dupont</li>
                    <li>Adrian Bravo</li>
                    <li>Alexandre Hachim</li>
                </ul>
            </div>

            <div class="list-container col m3">
                <h2>Sons :</h2>
                <ul>
                    <li>Sons libres</li>
                    <li>Alexandre Hachim</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="center-align">
        <a href="#" class="waves-effect waves-light pink accent-2 btn">Jouer</a>
    </div>
</div>
<!-- <div class="card-action">
    <a href="#">This is a link</a>
    <a href="#">This is a link</a>
</div> -->
</div>
{% endblock %}
